.container {
  margin: 1px 15%;
  padding: 0px 20px;
  outline: black solid 1px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
}
.verticalLine {
  border-left: 1px solid #ff0000;
}
.itemContainer {
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #feffba;
  color: #3b3939;
}
.done {
  background-color: #bbffba;
}
.itemHeader {
  font-weight: 600;
}
